---
layout: default
---

<div class="home">

  <h1 class="page-heading">Les actualités</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-bloc">

        <h2 class="post-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">Écrit le {{ post.date | date: "%-d.%m.%Y" }}</span>

        {% if post.illustration %}
          <div class="post-illustration" style="background-image:url('/assets/{{ post.illustration }}')"></div>
        {% endif %}

        {% if post.summary %}
          <p class="post-summary">{{ post.summary }}</p>
        {% endif %}
        <a class="post-link-small" href="{{ post.url | prepend: site.baseurl }}">Lire la suite</a>

      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">Flux RSS</a></p>

</div>
