---
layout:  page
title: Tutoriaux
permalink: /tutoriaux/
priority: 2
---


<div class="home">
    <h2>Principe de la page</h2>
    <p>
        Vous trouverez sur cette page des projets réalisés par l'équipe Pixel.<br/>
        N'hésitez pas à jouer les curieux, à naviguer et les essayers.
    </p>

    <ul class="post-list">
        {% for post in site.posts %}
            {% if post.categories contains 'tutorial' %}
                {% include project-bloc.html %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
