<li class="post-bloc">

    <h2 class="post-title">

      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        {% if post.categories contains 'tutorial' %}
          [Tuto]
        {% endif %}
        {{ post.title }}</a>

    </h2>
    <span class="post-meta">Écrit le {{ post.date | date: "%-d.%m.%Y" }}</span>

    {% if post.illustration %}
    <div class="post-illustration" style="background-image:url('/assets/{{ post.illustration }}')"></div>
    {% endif %}

    {% if post.summary %}
    <p class="post-summary">{{ post.summary }}</p>
    {% endif %}
    <a class="post-link-small" href="{{ post.url | prepend: site.baseurl }}">Lire la suite</a>

</li>
