/**
 * Site header
 */
.logo {
    min-height: 150px;
    background-color: black;
    background: url('./../assets/header-bg.jpg') center top;
}

.site-title {


    font-size: 34px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-top: 34px;
    margin-bottom: 0;

    &,
    &:visited {
        color: $white-color;
    }
}

.site-nav {
    line-height: 56px;
    text-align: center;



    .menu-icon {
        display: none;
    }

    .page-link {
        font-family: $title-font-family;
        color: $black;
        line-height: $base-line-height;
        padding: 5px;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color-dark;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            color: $yellow;

            &:visited {
                color: $yellow;
            }

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;

    h1, h2, h3, h4, h5, h6 {
        font-weight: $base-font-weight;
        font-family: $title-font-family;
        color: $brand-color;
    }

    h1 {
        color: $yellow;
    }

}

.page-heading {
    font-size: 30px;
    font-weight: 400;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: 5fpx ;
    }
}

.post-bloc {
    margin-bottom: 35px;
    padding-bottom: 10px;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    margin-bottom: 10px;
}

.post-link {
    display: block;
    font-size: 24px;
    color: $brand-color;

}

.post-link-small {
    display: block;
}


/**
 * Posts
 */

.post-bloc {
    border-bottom: solid $background-color-dark 1px;
    padding: 13px 0;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-illustration {
    width: 100%;
    min-height: 100px;
    margin-top: 10px ;
    border: solid $yellow;
    border-width: 5px 0;
}

.post-title, .page-title {
    font-family: $title-font-family;
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    margin: 5px 0;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}
.post-title {
    color: $brand-color!important;
}

.page-title {
    color: $yellow!important;
}

.post-summary {
    margin: $spacing-unit 0;
    font-family: $base-font-family, Arial;
}

.post-content {
    margin-bottom: $spacing-unit;
    font-family: $base-font-family, Arial;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
